<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>ShadowCoel</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>JinRiTouTiao</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>JinRiTouTiao</string>
				</array>
			</dict>
			<key>KuaiShou</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>KuaiShou</string>
				</array>
			</dict>
			<key>ShadowCoel</key>
			<dict/>
			<key>ShadowCoel-BluePurple</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ShadowCoel-BluePurple</string>
				</array>
			</dict>
			<key>ShadowCoel-Gold</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ShadowCoel-Gold</string>
				</array>
			</dict>
			<key>ShadowCoel-Water</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ShadowCoel-Water</string>
				</array>
			</dict>
			<key>TikTok</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>TikTok</string>
				</array>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string></string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
		<key>UINewsstandIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string></string>
			</array>
			<key>UINewsstandBindingEdge</key>
			<string>UINewsstandBindingEdgeLeft</string>
			<key>UINewsstandBindingType</key>
			<string>UINewsstandBindingTypeMagazine</string>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>ShadowCoel-BluePurple</key>
			<dict>
				<key>CFBundleFilesIcons</key>
				<array>
					<string>ShadowCoel-BluePurple</string>
				</array>
			</dict>
			<key>ShadowCoel-Gold</key>
			<dict>
				<key>CFBundleFilesIcons</key>
				<array>
					<string>ShadowCoel-Gold</string>
				</array>
			</dict>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.1</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>shadowcoel</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCalendarsUsageDescription</key>
	<string>3rd SDK/Framework usage</string>
	<key>NSCameraUsageDescription</key>
	<string>Scan QRCode to import configuration</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>import configuration from QRCode in Library</string>
	<key>ShadowCoelInternal</key>
	<dict>
		<key>GroupIdentifier</key>
		<string>group.com.coelwu.shadowcoel</string>
		<key>LogglyAPIKey</key>
		<string>774a3dfb-0703-417b-b38d-1219ee3ca749</string>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
		<string>gamekit</string>
	</array>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
